@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.color-blue {
    color: #2947A9;
}

.color-neutral {
    color: #858EAD;
}

.background-blue {
    background-color: #2947A9;
}

.text-400 {
    font-weight: 400;
}

.text-500 {
    font-weight: 500;
}

.text-600 {
    font-weight: 600;
}

.text-700 {
    font-weight: 700;
}

.text-800 {
    font-weight: 800;
}

/* hero section */
.hero-section {
    background-image: url(/images/hero-section/hero-sec-background.png);
    min-height: 665px;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section:focus {
    content: none;
}
.hero-section-left>h1 {
    font-size: 4rem;
}

.hero-section-right-card {
    background-color: #3559C7;
}

/* reputation section */

.reputation-card {
    background: #FFFFFF;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
}

/* about us section */

.about-us-section>.container {
    position: relative;
}

.about-us-right {
    position: absolute;
    left: 46.5rem;
    top: 10.6rem;
    background-color: #2947A9;
    opacity: 0.9;
    min-height: 26rem;
    max-width: 27rem;
}

/* services section */

.service-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
}

@media (min-width : 768px) {
    .navbar-content {
        width: 100%;
        margin-left: 0rem;
    }
}

@media (min-width : 1000px) {
    .navbar-content {
        margin-left: 18rem;
    }
}

@media (min-width : 1440px) {
    .navbar-content {
        margin-left: 26rem;
    }
}